{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
	<div id="login-wrapper">
		<h1>Orion</h1>
		<div id="login-content">
			<div id="registration-content">
    		    {{ form_start(form) }}
                      {{ form_widget(form) }}
               {{ form_end(form) }}
           </div>
		</div>
	</div>
{% endblock %}