html {
	height:100%;
	font-family: arial;
    background: #F5F5F5;
}

body {
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	margin: 0px;
	list-style-type: none;
}

h1 {
	margin: 0px;
}

.required:after {
	content:" * ";
	color: red;
}

.input-group input.error {
	border-color: red;
}

.form-group ul.error, .alert-danger {
	color: red;
}

#header {
    background: #fff;
    border-bottom: 1px solid #e8e9ed;
    -webkit-box-shadow: none;
    box-shadow: none;
    clear: both;
    padding: 0 30px;
    height: 55px;
    position: fixed;
    left: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

#header .header-right {
	float: right;
	margin: 20px;
}

#left-panel {
	background: #fff;
    height: 100%;
    padding: 0;
    vertical-align: top;
    width: 280px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 999;
}

#left-panel #menu-title {
    color: #41434d;
    clear: both;
    display: block;
    font-family: open sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 5px;
    text-transform: uppercase;
}

#left-panel .menu-item a {
	padding: 20px;
	display: block;
	color: #607d8b;
	-webkit-transition: all .25s ease;
    transition: all .25s ease;
}

#left-panel .menu-item a:hover {
	color: #03a9f3;
}

#left-panel .menu-item a.active {
	color: #03a9f3;
    background: #fafafa;
}

#content {
	margin-left: 280px;
	margin-top: 55px;
	padding: 25px;
}

.tile-list .tile-content {
	display: flex;
	margin: 10px;
}

.tile-content .button-list {
    display: flex;
}

.tile-content .button-list a {
	color: white;
	text-decoration: none;
	padding: 10px;
}

#menu-title .btn-success {
	float: right;
	display: inline-block;
}
