html {
	height:100%;
	font-family: arial;
    background: #F5F5F5;
}

body {
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	margin: 10px;
	list-style-type: none;
}

h1 {
	margin: 0px;
}

.required:after {
	content:" * ";
	color: red;
}

.input-group input.error {
	border-color: red;
}

.form-group ul.error, .alert-danger {
	color: red;
}

/* LOGIN */

#login-wrapper {
	padding-top: 8%;
	margin: 0 auto;
	width: 700px;
}

#login-wrapper #login-content {
	border-radius: 3px;
	background-color: white;
	border: 1px solid #dfe8f1;
	border-top: 3px solid #F44336;
	font-size: 13px;
}

#login-wrapper #registration-content {
	margin: 30px 60px;
}

#login-wrapper #login-content #fields {
	width: 40%;
    padding: 35px;
    display: inline-block;
}

.form-group  {
	margin-bottom: 15px;
}

.input-group {
	display: flex;
}

.input-group .form-control {
	font-size: 18px;
    line-height: 1.33;
    height: 45px;
    padding: 10px 16px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    float: none;
    background: #fff;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #2b2f33;
    border: 1px solid #dfe8f1;
}

.form-control:focus {
	color: #333;
    border-color: #3da6ff;
	outline: none;
}

.form-group label {
	font-weight: 700;
    padding: 2px;
    display: block;
}

.btn-block {
	display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn {
	border-radius: 3px;
    line-height: 32px;
    height: 34px;
    min-width: 34px;
    font-size: 12px;
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-image: none;
    transition: 0.3s;
}

.btn-blue-alt {
	color: #fff;
    background: #3F51B5;
    border-color: #3244a8;
}

.btn-blue-alt:hover {
   	color: #fff;
    background: #4c5ec2;
    border-color: #3244a8;
}

.btn:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.23), 0 10px 30px rgba(0,0,0,.19);

}

.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn:focus {
	outline: none;
}

#login-content #links {
	width: 35%;
	float: right;
	margin: 45px;
	margin-top: 75px;
}

.bg-facebook {
    color: #fff!important;
    background: #3b5998;
}

.btn>.icon-separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 100%;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.icon-separator {
    border-right: rgba(255,255,255,.21) solid 1px;
    background: rgba(255,255,255,.2);
}

a {
    text-decoration: none;
}

.icon-separator+.button-content {
    margin-left: 32px;
}

.btn.bg-facebook:hover {
    background: #304b85;
}

.bg-twitter {
    color: #fff!important;
    background: #3a92c8;
}

.btn.bg-twitter:hover {
    background: #2b80b4;
}

.bg-registration {
    color: #fff!important;
    background: #F44336;
}

.btn.bg-registration:hover {
    background: #c8180b;
}

#links .btn {
	margin-bottom: 15px;
}

/* END LOGIN */




