{% extends 'base.html.twig' %}

{% block title %}Orion{% endblock %}

{% block content %}
	<div class="topbar">
		{% if app.user %}
			<div class="right-bar">
    {#     		<span class="header-icon for-view">#}
    {#     			<a href="{{ path('app_front_homepage_edit') }}" id="edit-content"><i class="fas fa-pencil-alt fa-lg"></i></a>#}
    {#     		</span>#}
        		<a href="#" class="dropdown-toggle text-white">{{ app.user.email }}</a>
        		<div class="user-menu dropdown-menu">
        			<a href="{{ path('logout') }}">Logout</a>
        		</div>
    		</div>
    	{% else %}
    		<a href="{{ path('app_login') }}">Login</a>
    	{% endif %}
	</div>

	<div class="left-sidebar">
        <div class="scroll-sidebar">
            <div class="sidebar-nav">
                <ul id="sidebarnav" class="in">
                	<li class="p-15 m-t-10">
                		<a href="javascript:void(0)" class="btn btn-block create-btn text-white no-block d-flex align-items-center active">
                			<i class="material-icons">add_box</i> <span class="hide-menu m-l-5">Create New</span>
                		</a>
            		</li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}